* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans';
    line-height: 1.6;
    color: white;
    background: #0f101b;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 40px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #ccc;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    color: #ccc;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-form {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #cdcdcd;
    background-color: transparent;
    color: #cdcdcd;
}

.contact-form button {
    padding: 10px;
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}


.contact-info {
    text-align: center;
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info p {
    color: #ccc;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.social-links a {
    color: white;
    font-size: 28px;
    transition: color 0.3s;
}

body.light-mode .social-links a {
    color: black;
}


body.light-mode {
    background: white;
    color: black;
}

body.light-mode nav a {
    color: black;
}

body.light-mode .hero p {
    color: grey
}

body.light-mode .contact-form {
    background: rgba(0, 0, 0, 0.1);
}

body.light-mode .contact-form input,
body.light-mode .contact-form textarea {
    background: rgba(0, 0, 0, 0.1);
    color: black;
}

body.light-mode .contact-form button {
    background: #343434;
}

body.light-mode .contact-info p {
    color: black;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#theme-toggle i {
    font-size: 24px;
    color: orange;
    transition: color 0.3s ease;
}

body.light-mode #theme-toggle i {
    color: rgb(0, 48, 158);
}
