* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans';
  line-height: 1.6;
  color: white;
  background: #0f101b;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 40px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  /* Vertically center the nav items */
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  color: #ccc;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.hero h1 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 5px;
}

.hero h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  color: #ccc;
}

.hero-content {
  max-width: 60%;
}

.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hero-image img {
  width: 60%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.project-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.project-image img {
  width: 30%;
  height: auto;
  object-fit: contain;
}

.hero-image p {
  font-size: 8px;
  text-align: center;
}

.experience-education-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}


.work-experience,
.education {
  display: none;
  padding: 20px;
  border: 2px solid #cdcdcd;
  border-radius: 10px;
  margin-bottom: 30px;
}

.work-experience.active,
.education.active {
  display: block;
}

.job,
.education-item {
  padding: 15px;
  border-radius: 10px;
}

.job-header,
.edu-header {
  display: block;
  margin-bottom: 10px;
}

.job-header img,
.edu-header img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.job-title,
.edu-title {
  margin-left: 10px;
}

.job-title h3,
.edu-title h3 {
  color: white;
  margin-bottom: 5px;
}

.job-title p,
.edu-title p {
  color: #ccc;
}

.tech {
  color: #ccc;
  font-size: 14px;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 36px;
  }

  .hero {
    margin-bottom: 80px;
  }

  .work,
  .about,
  .contact {
    margin-bottom: 80px;
  }
}

body.light-mode {
  background: white;
  color: black;
}

body.light-mode nav a {
  color: black;
}

body.light-mode p,
body.light-mode .tech {
  color: black;
}

body.light-mode .experience-education-toggle button.active {
  background: black;
  color: white;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#theme-toggle i {
  font-size: 24px;
  color: orange;
  transition: color 0.3s ease;
}

body.light-mode #theme-toggle i {
  color: rgb(0, 48, 158);
}

.hero-icons {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  justify-content: flex-start;
}

.about-me, .project-title, .info {
  margin-bottom: 40px;
}

.about-me h2, .skills h2, .info h2 {
  margin-bottom: 15px;
}

.resume-btn {
  text-decoration: none;
  color: white;
  border: 2px solid #cdcdcd;
  border-style: solid;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 10px;
  transition: none;
}


body.light-mode .resume-btn {
  color: black;
}

.hero-icons .icon-btn {
  border: none;
  background: none;
  transition: none;
}

.hero-icons .icon-btn i {
  color: white;
  /* White icons in dark mode */
}

body.light-mode .hero-icons .icon-btn i {
  color: black;
  /* Black icons in light mode */
}

.resume-btn i {
  margin-left: 8px;
}

/* Styles for the toggle button */
.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 900px;
  border: 2px solid #cdcdcd;
  border-radius: 10px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
}

.toggleContainer div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}

.toggleCheckbox {
  display: none;
}

.toggleCheckbox:checked+.toggleContainer::before {
  left: 50%;
}

.toggleContainer::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 10px;
  background: #cdcdcd;
  transition: all 0.3s;
}

.toggleCheckbox:checked+.toggleContainer div:first-child {
  color: white;
  transition: color 0.3s;
}

.toggleCheckbox:checked+.toggleContainer div:last-child {
  color: #000000;
  transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:first-child {
  color: #000000;
  transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:last-child {
  color: white;
  transition: color 0.3s;
}

.light-mode .toggleContainer div:first-child {
  color: #000000;
}

.light-mode .toggleCheckbox:checked+.toggleContainer div:first-child {
  color: #000000;
}

.light-mode .toggleContainer div:last-child {
  color: rgb(0, 0, 0);
}

#tic-tac-toe-container {
  text-align: center;
  max-width: 300px;
  margin: auto;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100%;
}

.cell {
  background-color: #838383;
  color: white;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  cursor: pointer;
  border-radius: 5px;
}

.cell:hover {
  background-color: #555;
}

button#reset {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button#reset:hover {
  background-color: #555;
}

#status {
  margin-top: 10px;
  font-size: 1.2em;
}

/* Modal Overlay */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  max-width: 300px;
  width: 80%;
}

/* Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ffffff;
}

.skills {
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}

.skill-item {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 15px;
  color: #ffffff;
  border: 2px solid #cdcdcd;
}

body.light-mode .skill-item {
  color: black;
}

.projects-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.projects-title {
  margin: 0;
}

.view-more {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.view-more i {
  font-size: 20px;
}

.light-mode .view-more {
  color: black;
}

footer {
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 15px;
}

.footer-left p {
  margin: 0;
}

.footer-right {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}


/* Project.html's css */

/* Container for projects */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
}

/* Each project card */
.project-card {
  flex-grow: 1;
  border: 2px solid #cdcdcd;
  color: #ffffff;
  border-radius: 10px;
  min-width: 280px;
  /* Minimum width to keep elements responsive */
  max-width: 325px;
  /* Optional: control max width if you don’t want them to stretch too much */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-image {
  width: 100%;
  height: 200px;
  /* Set a fixed height */
  border-radius: 8px;
  object-fit: contain;
  margin-bottom: 15px;
}

/* Project title */
.project-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.light-mode .project-title {
  color: #000000;
}

/* Project description */
.project-description {
  font-size: 12px;
  color: #b0b0b0;
  margin: 10px 0 20px;
  flex-grow: 1;
  min-height: 10px;
}

/* Buttons for links */
.project-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: auto;
  /* Push buttons to bottom */
}

.project-button {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #cdcdcd;
  transition: background-color 0.3s;
  text-decoration: none;
}

.project-button:hover {
  background-color: #2a2b3d;
  color: white;
}

.light-mode .project-button {
  background-color: #000000;
  color: #ffffff;
}

.project-button i {
  margin-right: 5px;
}

.skills {
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}

.skill-item {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: #ffffff;
  border: 2px solid #cdcdcd;
}

body.light-mode .skill-item {
  color: black;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.filter-button {
  padding: 8px 16px;
  border: 2px solid #cdcdcd;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #2a2b3d;
  color: white;
}

.filter-button.active {
  background-color: #3b3d52;
  color: white;
}

.light-mode .filter-button {
  border: 2px solid #cdcdcd;
}

/* Contact.html's css */
.contact-form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-form {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #cdcdcd;
  background-color: transparent;
  color: #cdcdcd;
}

.contact-form button {
  padding: 10px;
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}


.contact-info {
  text-align: center;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-info p {
  color: #ccc;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

.social-links a {
  color: white;
  font-size: 28px;
  transition: color 0.3s;
}

body.light-mode .social-links a {
  color: black;
}


body.light-mode {
  background: white;
  color: black;
}

body.light-mode nav a {
  color: black;
}

body.light-mode .hero p {
  color: grey
}

body.light-mode .contact-form {
  background: rgba(0, 0, 0, 0.1);
}

body.light-mode .contact-form input,
body.light-mode .contact-form textarea {
  background: rgba(0, 0, 0, 0.1);
  color: black;
}

body.light-mode .contact-form button {
  background: #343434;
}

body.light-mode .contact-info p {
  color: black;
}